@import url('https://fonts.googleapis.com/css?family=Sacramento');

@font-face {
    font-family: norwester;
    src: url(https://cdn2.hubspot.net/hubfs/617807/codescrum-assets/fonts/norwester/norwester.otf)
}

@font-face {
    font-family: codescrum Logo;
    src: url('https://cdn2.hubspot.net/hubfs/617807/codescrum-assets/fonts/grapple/codescrum-logo-font(grapple).ttf')
}
.signature{
  font-family: 'Sacramento', cursive;
  transform: rotate(-5deg);
  font-size: 5em;
  margin-top: 60px;
}
.norwester{
  font-family: norwester;
}
.codescrum{
  font-family: codescrum Logo;
}
.px-16 {
  font-size: 16px;
}
h4{
  letter-spacing: 2px;
}

.bg-primary{
  color: white;
  background: #F05F40;
}
.bg-secondary{
  background: #e8ebee;
}

.cl-black,
.readmore-link:hover {
  color: #111;
}
.cl-primary{
  color: #F05F40;
}
.cl-white{
  color: white;
}
.cl-faded{
  color: rgba(255,255,255,.7);
}

.freelancer-hero{
  background: url(../images/1415x915_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.freelancer-hero .hero-content-wrapper .hero-content .hero-subheading {
  font-size: 1.35em;
}

.freelancer-about .t-item{
  background: rgba(0,0,0,0.7);
}
.freelancer-about .t-item .t-info .t-name,
.freelancer-about .t-item .t-info .social-links li a {
  color: white;
}
.freelancer-about .t-item .t-info .t-role {
  color: rgba(255,255,255,.7);
}

.ft-cards .ft-item a,
.ft-cards .ft-item span,
.ft-tabs .tabs-list li a .tab-icon,
.ft-x .ft-material i,
.blog-columns .blog-post .bp-content .post-meta .post-date:hover i,
.blog-classic .blog-post .bp-content .post-meta .post-date:hover i,
.blog-columns .blog-post .bp-content .post-meta .post-date:hover span,
.blog-classic .blog-post .bp-content .post-meta .post-date:hover span,
.blog-columns .blog-post .bp-content .post-meta .post-comments:hover i,
.blog-classic .blog-post .bp-content .post-meta .post-comments:hover i,
.blog-columns .blog-post .bp-content .post-meta .post-comments:hover span,
.blog-classic .blog-post .bp-content .post-meta .post-comments:hover span,
.testimonials-3col .t-item .t-icon,
.testimonials-3col .t-item blockquote footer cite,
.readmore-link{
  color: #F05F40;
}

.ft-cards .ft-item {
  min-height: 435px;
}
.ft-tabs .tabs-list .active a {
  border-color: #F05F40;
}

.ft-tabs .tab-content-image img{
  border-bottom: 5px solid #f05f40;
}

.ft-hover-item .ft-1 {
  background: #ccc url(../images/900x580_3.jpg);
  background-size: 100%;
  background-position: 50%;
  -webkit-transition: background-size 0.3s;
}

.ft-hover-item .ft-2 {
    background: #ccc url(../images/900x580_2.jpg);
    background-size: 100%;
    background-position: 50%;
    -webkit-transition: background-size 0.3s;
}

.ft-hover-item .ft-2 .bg-overlay {
    background: rgba(240, 95, 64, 0.3);
}
.ft-hover-item .ft-item.ft-1:hover .bg-overlay {
    background: rgba(240, 95, 64, 0.8);
}

.testimonials-3col .t-item {
  min-height: 520px;
  border-top: 5px solid #f05f40;
}
.testimonials-3col .t-item blockquote p:before {
  border-top: 1px solid rgba(240, 95, 64, 0.5);
}
.testimonials-3col .t-item blockquote p:after {
  border-bottom: 1px solid rgba(240, 95, 64, 0.5);
}
.readmore-link {
  position: relative;
  top: 10px;
  cursor: pointer;
}
.testimonials-3col .t-item blockquote footer cite span {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.freelancer-hero .hero-content-wrapper {
  background: url(../images/raster@2x.png);
}

.scroller {
  color: rgba(240, 95, 64, 0.8);
}

a.p-link{
  color: #777 !important;
  padding: 0 !important;
  font-size: 14px !important;
  display: inline !important;
  text-align: start !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}
a.p-link:hover{
  color: #111 !important;
  border: none !important;
}

.ft-tabs .tab-content .tab-content-text a {
  margin-top: 45px;
}
a.bg-primary:hover,
a.bg-primary:focus,
a.bg-primary:visited{
  background: #f05f40;
  color: white;
}

.sec-heading .subheading {
  color: #494949;
  text-transform: none;
  letter-spacing: 1.5px;
}
